* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.App {
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




.App-header {
  background-color: #282c34;
  min-height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #00796B;
  width: 100%;
}

.App-logo {
  width: 35px;
}



.App-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 10% - 20px - 60px); /* 10% for header and 20px for children margin  & 30px custom*/
  width: 70%;
  margin: auto; /* Center the div */
  /*background: linear-gradient(319deg, #1e7c6dc7, #6fa5a4c2);*/
  border-radius: 25px;
}

.markdownInput {
  width: calc(100% - 15px); /* 10px margin left + 5px margin right */
  resize: none;
  margin: 10px;
  margin-right: 5px;
  padding: 20px 15px;
  border: none;
  border-radius: 20px;
  background-color: #6ea4a340;
  border: 1px solid #004D40;
  /*box-shadow: 1px 1px 10px -4px #000000a6;*/
  font-size: 15px;
}

.markdownOutput {
  width: calc(100% - 15px); /* 10px margin right + 5px margin left */
  margin: 10px;
  margin-left: 5px;
  background-color: white;
  padding: 10px 15px;
  overflow-y: auto;
  border-radius: 20px;
  background-color: #1c7b6c;
  color: white;
  font-size: 15px;
}