* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.App {
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  background: #f2f2f2;
}




.App-header {
  /*background-color: #282c34;*/
  min-height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: center;*/
  font-size: 20px;
  color: #00796B;
  width: 100%;
  position: absolute;
}

.App-header h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 22px;
  margin-left: 10px
}

.App-logo {
  width: 35px;
}




.Hero-section {
  min-height: 400px;
  align-content: center;
  text-align: center;
  background: linear-gradient(133deg, #ffffff, #ff780085, #1b7a6b);
  width: 100%;
  padding-top: 2%;
  padding-bottom: 4%;
  background: linear-gradient(0deg, #f2f2f2, white 40%);
  color: white;
  position: relative;
  overflow: hidden;
}

.Hero-section h1, h2, p {
  position: relative;
  z-index: 1;
}

.Hero-section h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 40px;
  margin: 0;
}

.Hero-section h2 {
  color: black;
}

.Hero-section p {
  color: #f2f2f2;
}


.Background-shape {
  position: relative;
}

.wavy-shape {
  position: absolute;
  top: -375px;
  height: 600px;
  left: -80px;
  background-color: #6c63ff;
  z-index: 1;
  rotate: -2deg;
  width: 131vw;
}

.second-wavy-shape {
  position: absolute;
  top: -360px;
  height: 600px;
  /*left: -550px;*/
  background-color: #4d4b6c;
  z-index: 0;
  rotate: 0.5deg;
  width: 131vw;
}







.App-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 750px; /* 8% for header and 20px for children margin  & 30px custom*/
  width: 80%;
  margin: 20px auto; /* Center the div */
  /*background: linear-gradient(319deg, #1e7c6dc7, #6fa5a4c2);*/
  border-radius: 25px;
  gap: 15px;
}



.inputContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputContainer h2 {
  margin-left: 10px;
}

.markdownInput {
  resize: none;
  /*margin: 10px;*/
  padding: 20px 15px;
  border: none;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #3f3d563d;
  /*box-shadow: 1px 1px 10px -4px #000000a6;*/
  font-size: 15px;
  height: 100%;
  /*border: 1px solid #ff8b00;*/
}


.outputContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.outputHeader {
  display: flex;
  justify-content: space-between;
}

.outputContainer h2 {
  margin-left: 10px;
}

.preview-button, .html-button {
  background: #6c63ff;
  border: none;
  height: 38px;
  position: relative;
  bottom: -32px;
  color: white;
  border-radius: 15px;
  padding: 0 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: bold;
  cursor: pointer;
}

#not-selected-button {
  background: #ffffff;
  color: rgb(113, 113, 113);
  border: 1px solid #3f3d563d;
}

#not-selected-button:hover {
  color: black;
}

.htmlOutput {
  /*margin: 10px;*/
  background-color: white;
  padding: 10px 15px;
  overflow-y: auto;
  border-radius: 20px;
  background-color: #6c63ff;
  color: white;
  font-size: 15px;
  height: 100%;
  border-top-right-radius: 0;
  z-index: 1;
}

.rawHtmlOutput {
  background-color: white;
  padding: 10px 15px;
  overflow-y: auto;
  border-radius: 20px;
  background-color: #6c63ff;
  color: white;
  font-size: 15px;
  height: 100%;
  border-top-right-radius: 0;
  z-index: 1;
  white-space: pre-wrap; /* This preserves newlines */
  word-wrap: break-word;
}