* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.App {
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  background: #f2f2f2;
}