.App-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 750px; /* 8% for header and 20px for children margin  & 30px custom*/
    width: 80%;
    margin: 20px auto; /* Center the div */
    /*background: linear-gradient(319deg, #1e7c6dc7, #6fa5a4c2);*/
    border-radius: 25px;
    gap: 15px;
}



.inputContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.inputContainer h2 {
    margin-left: 10px;
}

.markdownInput {
    resize: none;
    /*margin: 10px;*/
    padding: 20px 15px;
    border: none;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #3f3d563d;
    /*box-shadow: 1px 1px 10px -4px #000000a6;*/
    font-size: 15px;
    height: 100%;
    /*border: 1px solid #ff8b00;*/
}


.outputContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.outputHeader {
    display: flex;
    justify-content: space-between;
}

.outputContainer h2 {
    margin-left: 10px;
}

.preview-button, .html-button {
    background: #4c43de;
    background: #302f46;
    border: none;
    height: 38px;
    position: relative;
    bottom: -32px;
    color: white;
    border-radius: 15px;
    padding: 0 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: bold;
    cursor: pointer;
}

.html-button {
    background-color: #302f46;
}

#not-selected-button {
    background: #ffffff;
    color: rgb(113, 113, 113);
    border: 1px solid #3f3d563d;
}

#not-selected-button:hover {
    color: black;
}


.copy-button {
    position: absolute;
    right: 1%;
    top: 10%;
    z-index: 2;
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background: #ffffff2e;
}

.copy-button:hover {
    background: #ffffff73;
    cursor: pointer;
    border: none;
}



.htmlOutput {
    /*margin: 10px;*/
    background-color: white;
    padding: 10px 15px;
    overflow-y: auto;
    border-radius: 20px;
    background-color: #4c43de;
    background-color: #302f46;
    color: white;
    font-size: 15px;
    height: 100%;
    border-top-right-radius: 0;
    z-index: 1;
}

.rawHtmlOutput {
    background-color: white;
    padding: 10px 15px;
    overflow-y: auto;
    border-radius: 20px;
    background-color: #4d4b6c;
    background-color: #302f46;
    color: white;
    font-size: 15px;
    height: 100%;
    border-top-right-radius: 0;
    z-index: 1;
    white-space: pre-wrap; /* This preserves newlines */
    word-wrap: break-word;
}