.App-footer {
    background-color: #f8f9fa;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(225deg, #302f46, #000000);
    display: flex;
    margin-top: 45px;
    color: white;
    flex-direction: column;
}


.footer-message {
    padding: 20px 35px;
    display: flex;
    font-size: 11px;
    justify-content: space-evenly;
    align-items: anchor-center;
    color: #5e658d;
    background: #c2c1c7;
    color: #302f46;
    background: linear-gradient(360deg, #c2c1c7 -40%, #f2f2f2);
    background: linear-gradient(180deg, #f2f2f2, #ffffff);
}


.footer-container {
    padding: 20px 35px;
    display: flex;
    justify-content: space-around;
}


.footer-logo-container {
    display: flex;
    flex-direction: column;
}

.footer-logo-text {
    display: flex;
    align-items: center;
}

.footer-logo-text h3 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

.footer-logo {
    height: 40px;
    width: 40px;
    filter: brightness(1.6);
}

.footer-logo-container h4 {
    color: #aaaac0;
}

.footer-logo-container p {
    font-size: 13px;
    color: #9090a5;
    width: 55%;
}



.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-nav a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin: 0 12px;
    transition: transform 0.3s ease;
}

.footer-nav a:hover {
    transform: scale(1.1);
}






.footer-socials {
    font-size: 2rem;
    margin-top: 20px;
}

















.Background-shape {
    position: relative;
}

.wavy-shape {
    position: absolute;
    top: -375px;
    height: 600px;
    left: -80px;
    background-color: #6c63ff;
    z-index: 1;
    rotate: -2deg;
    width: 131vw;
    background-color: #4c43de;
}

.second-wavy-shape {
    position: absolute;
    top: -360px;
    height: 600px;
    /*left: -550px;*/
    background-color: #4d4b6c;
    z-index: 0;
    rotate: 0deg;
    width: 131vw;
}